# Unreal Engine
*.uasset
*.umap
*.dll
*.exe
*.app
*.dylib
*.pdb
*.lib
*.obj
*.o
*.so
*.ncb
*.sdf
*.suo
*.sln
*.log
*.tmp
*.temp
*.sav
*.unsaved

# Intermediate and Build folders
[Bb]inaries/
[Ii]ntermediate/
[Ll]ogs/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Dd]evelopment/
[Ss]aved/
[Ss]rc/
[Uu]nrealBuildTool/
[Ww]indowsNoEditor/
[Mm]acNoEditor/
[Ll]inuxNoEditor/

# User-specific files
*.user
*.userprefs
*.sublime-project
*.sublime-workspace

# Visual Studio specific files
.vs/
*.vcxproj.*
*.vcxproj
*.vscode/
*.ipch/
*.dbmdl
*.dbproj
*.jfm

# Visual Studio Code settings
.vscode/

# Xcode specific files
xcuserdata/
*.xcodeproj/

# Misc
Thumbs.db
.DS_Store
*.bak
*.swp
*.swm
*.swo

# Ignore entire directories for specific engines
DerivedDataCache/

# Ignore specific plugin folders
Plugins/BTUtilityPlugin/*
Plugins/*/

